@tailwind base;
@tailwind components;
@tailwind utilities;




/* custom css */

.img-animate{
    animation:  rotate  3s  linear infinite;
    animation-play-state: paused;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.container.play .img-animate{
    animation-play-state: running;
}

.img-container::after{
    content: '';
    background-color: #fff;
    height:30px;
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 64%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.info{
    position: absolute;
    left: 20px;
    width: calc(100% - 41px);    
    opacity: 0;
    transform: translateY(0%);
    transition: transform  0.3s ease-in, opacity 0.3s ease-in;
}
.container.play .info{
    opacity: 1;
    transform: translateY(-100%);
}
.progress-container{
    background:#fff;
    border-radius: 5px;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}
.progress{
    background-color:#2563EB;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}